.home_page {
  align-items: center;
  background: #1b1b1b;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  width: 100vw; }

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-size: 2rem;
  height: 50px;
  outline: none;
  width: 100%; }

.typeahead {
  min-width: 700px; }
