.search_div {
  min-width: 700px;
  text-align: center;
  .input {
    width: 100% !important;
  }

  .results {
    width: 100% !important;
  }

  input {
    height: 4rem;
    width: 100% !important;
  }

  .openbwks_logo {
    margin-bottom: 4rem;
  }
}

.author_search_div {
  align-items: center;
  display: flex;
  justify-content: center;

  .author_search {
    margin: 3rem 0;
    min-width: 700px;
  }

  .results {
    width: 100% !important;
  }

  .input,
  input {
    height: 4rem;
    width: 100% !important;
  }
}
