input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-size: 2rem;
  height: 50px;
  outline: none;
  width: 100%;
}

.typeahead {
  min-width: 700px;
}
